.footer-section {
  height: 65px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: black;
  color: wheat;
}
.footer-content {
  display: flex;
  justify-content: center;
}
