@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap");

.main-nav {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 3em;
  display: grid;
  grid-template-columns: 6em 2fr 1fr 3em;
  background-image: linear-gradient(to left, black, blue);
  position: sticky;
  z-index: 1;
  top: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  font-family: "Comic Neue", cursive;
  font-size: 1.5rem;
}
.menu-link {
  grid-column: 2/3;
}
.menu-link ul {
  height: 3em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu-link ul li {
  text-transform: capitalize;
  margin-right: 3em;
}
.menu-link ul li a:hover {
  color: #ffffff;
}
.hamburger-menu {
  grid-column: 3/4;
}
.hamburger-menu {
  color: white;
  display: none;
}

@media (max-width: 600px) {
  .main-nav {
    height: 3rem;
    grid-template-columns: 2rem 3fr 2rem 2rem;
  }
  .menu-link {
    display: none;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 1;
  }
  .mobile-menu-link {
    z-index: 1;
    background-color: #042242;
    position: relative;
    left: 9.75rem;
    overflow-x: hidden;
    height: 10rem;
    width: 11rem;
    display: grid;
    grid-column: 2/5;
    padding: 1rem 0 0 3rem;
    border-radius: 15px;
    transition: all 2s linear;
    transform-origin: bottom;
    justify-content: start;
  }

  .mobile-menu-link ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }
  .hamburger-menu {
    grid-row: 1/2;
    grid-column: 3/5;
    align-items: center;
    transition: all 2s linear;
    display: flex;
    justify-self: end;
  }
  .ham {
    display: block;
    font-size: 3rem;
  }
}
