@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap");

.hero-section {
  background-image: linear-gradient(to left, black, blue);
}
#explore-button {
  animation: animate 3s linear infinite;
}
.arrow {
  color: white;
  margin-left: 38rem;
}
.typed {
  letter-spacing: 5px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(18);
}
/*typing effect*/
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes animate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
