.structure {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}
.section-one {
  width: 50%;
  margin-left: 2rem;
}
.section-two {
  margin-left: 2rem;
  width: 50%;
}
.buttons {
  margin-top: 3rem;
  margin-left: 35rem;
}

@media (max-width: 600px) {
  .structure {
    flex-direction: column;
  }
  .section-one {
    width: 80%;
    margin: 2rem;
  }
  .section-two {
    width: 80%;
    margin: 2rem;
  }
}
