@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Bitter", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{text-decoration: none;color: #fff;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #1A202C !important;
    transition: #fff 5000s ease-in-out 0s; /* Prevents a flicker */
}

/***contact-me page css***/
.outer-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  height: 77.5vh;
}

.con-left {
  flex: 1;
  text-align: left;
}
.touch-head{font-family: "Roboto", sans-serif;font-size: 5.5rem;color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 5px -3px 3px rgba(178,245,234,0.66);
    /* text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2); */
  }
.contact-me p{font-family: "Roboto", sans-serif;font-size: 1.2rem;  text-shadow: .1em .1em 0 #d5d5d5;}
.con-right {
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-form label{font-size: 15px;}

.contact-form input,
.contact-form textarea {
  padding: 5px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.contact-form button {
  width: 100px;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}

.error {
  color: red;
  font-size: 0.8rem;
}
